@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --neutral-900: hsl(233, 18%, 9%);
    --neutral-800: hsl(235, 14%, 15%);
    --neutral-700: hsl(235, 13%, 19%);
    --neutral-600: hsl(234, 14%, 29%);
    --neutral-200: hsl(240, 26%, 92%);
    --neutral-100: hsl(240, 24%, 96%);
    --neutral-0: hsl(0, 0%, 100%);

    --purple-400: hsl(274, 90%, 80%);
    --purple-500: hsl(274, 90%, 73%);

    --yellow-500: hsl(37, 100%, 50%);

    --orange-500: hsl(15, 99%, 67%);
    --orange-800: hsl(15, 99%, 43%);

    --main-text: var(--neutral-900);
}
.dark {
    --main-text: var(--neutral-200);
}

@theme {
    --text-preset-1-mobile: 40px;
    --text-preset-1: 64px;

    --text-preset-2: 24px;
    --text-preset-3: 20px;
    --text-preset-4: 16px;

    --color-neutral-900: var(--neutral-900);
    --color-neutral-800: var(--neutral-800);
    --color-neutral-700: var(--neutral-700);
    --color-neutral-600: var(--neutral-600);
    --color-neutral-200: var(--neutral-200);
    --color-neutral-100: var(--neutral-100);
    --color-neutral-0: var(--neutral-0);

    --color-purple-400: var(--purple-400);
    --color-purple-500: var(--purple-500);

    --color-yellow-500: var(--yellow-500);

    --color-orange-500: var(--orange-500);
    --color-orange-800: var(--orange-800);
}

body {
    color: var(--main-text);
    min-height: 100vh;
}

.checkbox-check:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 0.8rem;
    height: 0.8rem;
    margin: auto;
    background-image: url("/assets/images/icon-check.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
